/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   font-family: fantasy;
 }

 body::after {
  content: "";
  background-image: url('/assets/wallpaper.jpeg');
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
 }

h4 {
  float: right;
  margin-right: 12px;
}

.logout-button {
  float: right;
  background-color: #555555; /* Green */
  border-radius: 8px;
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

footer {
  /*position:absolute;*/
  bottom:0;
  width:100%;
  height:60px;
}

footer > a {
  margin-right: 30px;
}

.logout-button:hover {
    background-color: #e7e7e7; /* Green */
    color: white;
}

.cat-list {
  padding: 10px 10px;
  display: inherit;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.cat-list-ul {
  list-style: none;
  width: 80%;
  align-content: center;
  margin-left: 10%;
}

.one-third {
  display: inline-block;
  width: 33%;
}

img {
  height: 150px;
  width: 150px;
}

header > h1 {
  display: inline-block;
  background-color: lightblue;
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 60px;
  font-weight: 100;
}

header {
  height: 100px;
}

.index-header {
  text-align: center;
  font-size: 35px;
}
