<tr>
  <td><%= req.start_date %></td>
  <td><%= req.end_date %></td>
  <td><%= req.requester.username %></td>
  <td>
    <% if req.pending? && is_owner? %>
      <form action="<%= approve_cat_rental_request_url(req) %>" method="POST">
        <input type = "hidden" value = '<%= form_authenticity_token %>' name = 'authenticity_token'/>
        <input type="submit" value="Approve" />
      </form>
      <form action="<%= deny_cat_rental_request_url(req) %>" method="POST">
        <input type = "hidden" value = '<%= form_authenticity_token %>' name = 'authenticity_token'/>
        <input type="submit" value="Deny" />
      </form>
    <% else %>
      <%= req.status %>
    <% end %>
  </td>
</tr>
