<h2 class = 'index-header'>Choose Your Cat!</h2>

<ul class = 'cat-list-ul'>
  <% @cats.each do |cat| %>
    <% random_cat = [1,2,3,4].sample %>
    <li class='one-third'><a class = 'cat-list' href="<%= cat_url(cat) %>"><img src="/assets/cat<%= random_cat %>.jpeg" alt="CATS"><br>
      <%= cat.name %></a></li>

  <% end %>
</ul>

<a href="<%= new_cat_url %>">Create cat</a>
