<form action="/session" method="post">
  <input type = "hidden" value = '<%= form_authenticity_token %>' name = 'authenticity_token'/>

  <label>username
    <input type ='text' name = 'user[username]'/>
  </label>

  <label>password
    <input type ='password' name = 'user[password]'/>
  </label>

  <input type = 'submit' value = 'Login'/>
  
</form>
